header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgb(20,25,32);
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.amzn-logo  {
    height: 60px;
}

.pin-icon {
    color: white;
}