main {
    background-image: url("https://notaarryan.github.io/Amazon-Homepage-Clone/backgrounds/mainbackground.jpeg");
    background-size: cover;
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

    

@media (max-width:1280px) {
   main {
    height: 400px;
   }

}

@media (max-width:1030px) {
   main {
    height: 300px;
   }

}